@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-image: url("https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/2641470/page_bg_raw.jpg?t=1725999723");
  background-size: cover;
  background-repeat: repeat;
}
